/* all */
body{
    font-family: 'Open Sans', sans-serif;
}   
.orange{
    color: #FD6E0A;
}
.primary-btn{
    border-radius: 5px;
    background: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    color:#FFF;
    border: 0;
    padding: 15px 35px;
}
.title{
    color: var(--dark-01, #181818);
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.description{
    color: var(--dark-03, #757575);
    text-align: center;
    font-size: 18px;
    
}
/* header */
.header{
    background-color: #f8d1b5;
    background-image: url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
/* Nav  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 200px;
}
nav > ul{
    display: flex;
    align-items: center;
    
}
nav li{
    list-style: none;
    margin-right: 51px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.logo-title{
    color: #181818;
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
/* banner */
.banner{
    padding:30px 30px 0 150px;
    display: flex;
    align-items: center;
}
.banner .profile-pic{
    width: 500px;
}
.banner-content{
    max-width: 500px;
}
.banner-greeting{
    font-size: 45px;
    color:#474747;
    margin-bottom: o;
}
.banner-title{
    font-size:85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
/* main  */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}
/* about section */
.about{
    padding:130px;
    border-radius:10px;
    background: #FFF8F3;
    margin: 130px 0;
}
/* info */
.info-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.info{
    text-align: center;
}
.info-title{
    color: #757575;
    margin-bottom: 5px;
}
.info-description{
    margin-bottom: 0px;
    font-size: 20px;
    color: Dark 02;
    font-weight: bold;
}
#what-i-do{
    padding: 30px 150px;
}
/* skills */
.skill-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:24px

}
.skills{
    box-sizing: border-box;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background-color: #FFF;
    border-radius: 5px;
}
.skill-description{
    color:#757575;
}
/* summary */
.resume-title{
    color: var(--dark-02, #474747);
    font-family: Open Sans;
    font-size: 30px;
    font-style: normal;
}
.resume-container{
    display: flex;
    gap:50px;
}
.resume-item-institue{
    margin-bottom: 20px;
    margin-top: 0px;
}
.resume-item-description ,.resume-item-institue{
    color:#757575;
}
.resume-item-title{
    color: var(--dark-02, #474747);
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
}
.resume-container hr{
    margin: 30px;
}
.download-cv{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
/* footer */
footer{
    display: flex;
    background: #FFF8F3;
    padding: 130px 200px;
    margin-top: 0px;
    gap:100px;
}
.footer-column{
    width: 50%;
}
.section-title{
    color: var(--dark-01, #181818);
    font-size: 35px;
    font-weight: 700;
   
}
.footer-icons{
 
}